.container{
    background-color: rgb(50, 51, 52);
    height: 38px;
    display: flex; 
    cursor: pointer;   
}
.one{
    display: flex;
    margin-left: 30px;
    
}
.allensolly img{
    background-color: rgb(8, 8, 8);
    width: 50px;
    height: 48px;
    cursor: pointer;
    
    
    
}
.adidas img{
    width: px;
    height: 38px;
    
}
.nike img{
    width: 49px;
    height: 38px;
    
}
.two{  
      
    display: flex;
    margin-left: 420px;
    
    
    
}
.two a{
    color: aliceblue;
    
    
}
a{
    text-decoration: none;
}
.s,.c,.l{
    height: 10px;
    letter-spacing: 3px;
    padding: 15px;
    margin-right: 15px;
    font-size: 10px;
    cursor: pointer;
     
}
.container2{
    background-color: rgb(255, 255, 255);
    height: 45px;
    margin-left: 30px;
    display: flex;
    cursor: pointer;
    
}
.allensolly2 img{
    width: 100px;
    height: 55px;

}
.two2{
    
    display: flex;
    margin-left: 150px;
    
}
.two2 a:hover{
    
    border-bottom: 1px solid red;
    
}
.two2 a{
    color: black;
    
}
.m,.e,.new{
        
    height: 12px;
    letter-spacing: 3px;
    padding: 15px;
    margin-right: 15px;
    font-size: 9px;
    display: flex;
    margin-top: 10px;

}
.search input{
    border: none;
    border-bottom: 1px solid rgb(63, 63, 63);
    margin-top: 17px;
    font-size: 12px;
    margin-left: 50px;

}
.container3{
    height: 550px;
    margin-top: 20px;
    
    
} 
.mainimg{
    
    background-image: url("../image/main.jpg");
    height: 550px;
    background-size: cover;
    
    
}
.main{
    width: 290px;
    margin-left: 180px;
    margin-top: -400px;
    font-size: larger;
    
}

.head{
    margin-left: 75px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 3px;
    margin-right: 90px;

    
}
.para{
    margin-left: 105px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 3px;
    margin-right: 50px;
    margin-top: -21px;
    
}
.ca{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 3px;
    margin-left: 54px;
    margin-right: 50px;
    

}
.para2{
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   letter-spacing: 3px;
   margin-left: 60px;
   margin-right: 50px;
   font-size: 10px;
   margin-top: -21px;
   

}
button{
    background-color: aliceblue;
    border: 1px solid white;
    border-radius: 2px;
    margin-left: 260px;
    font-size: 12px;
    word-spacing: 3px;
    cursor: pointer;
}

.sub img{
    width: 15%;
    margin-top: 40px;
    margin-left: 35px;
    border-radius: 20px 3px;
}
.mwbg ul{
    width: 15%;
    display: flex;
    gap: 50px;
    list-style: none;
    letter-spacing: 3px;
    margin-left: 32px;
    gap: 122px;
    cursor: pointer;
    
}
.sale img{
    width: 120px;
    margin-left: 410px;
}
.sale1 li{
    margin-left: 405px;
    letter-spacing: 3px;
    display: flex;
    cursor: pointer;
}


.main6{
    background-color: rgba(29, 67, 87, 0.952);
    height: 200px;
    display: flex;
    margin-top: 40px;
    
}
.q,.w{
   color: rgb(219, 220, 221);
   font-size: 25px;
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   margin-left: 30px;
   margin-top: 20px;
}
.get{
    margin-left: 30px;
    margin-top: 20px; 
}
.main6 ul{
    /* list-style: none; */
}
.qr img{
    width: 120px;
    display: flex;
    margin-left: 490px;
    margin-top: -110px;
}
.logoalen img{
    margin-left: 650px;
    width: 300px;
    
    height: 100px;
}
.logoalen{
    margin-top: -120px;

}
.appplay{
    
    display: flex;
    
}
.appplay img{
    display: flex;
    width: 60px;
    margin-left: 110%;
    margin-bottom: 10px;   
}
.app{
    margin-top: -50px;

}
.play{
    margin-top: -50px;
}
.headd{
    text-align: center;
    letter-spacing: 5px;
    font-size: 10px;
    color: rgb(121, 121, 121);

}
.container6 img{
    width: 169px;
    display: flex;
    margin-left: 55px;
    border-radius: 5px;
    margin-top: 10px;
    
}
.print{
   
    display: flex;
    border-radius: 5px; 
    height: 200px;

}
.mgks ul{
    display: flex;
    list-style: none;
    margin-left: 32px;
    gap: 106px;
    color: rgb(59, 60, 60);
    font-size: 13px;
    letter-spacing: 2px;

}
.alnso img{
    width: 90%;
    height: 43px;
    padding-top: 10px;
    margin-left: 52px;
}
.bhead{
    color: rgb(13, 119, 164);
    text-align: center;
    margin-top: 35px;
    letter-spacing: 2px;
    font-size: 9px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.ln ul{
    color: rgb(98, 103, 107);
    display: flex;
    list-style: none;
    font-size: 15px;
    letter-spacing: 3px;
    margin-left: 265px;
    gap: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.ln li:hover{
    border-bottom: 1px solid red;
}





